<div>
    <mat-toolbar color="primary">
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"> -->
        <!-- <mat-icon>menu</mat-icon> -->
      <!-- </button> -->
      <span class="logo">Triton</span>
      <span class="example-spacer"></span>
      <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"> -->
        <!-- <div class="menu">Register</div> -->
        <div class="menu"><a routerLink="/register">Register</a></div>
      <!-- </button> -->
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"> -->
        <div class="menu"><a routerLink="/table">List</a></div>
      <!-- </button> -->
    </mat-toolbar>
</div>
